ion-header {
  padding: 7px 7px 10px 15px;
}

h2 {
  margin: 0;
  margin-top: 16px;
}

form {
  margin: 20px 0;
}

button {
  background-color: transparent;
  float: right;
}

ion-icon {
  font-size: 18pt;
}

ion-card {
  --color: var(--app-card-color);
  font-size: var(--app-card-font-size);
  padding: 0 20px;
}

ion-input {
  border: 1px solid var(--ion-color-primary);
  border-radius: 50px;
  margin-top: 5px;
  --padding-start: var(--app-input-padding);
  --padding-end: var(--app-input-padding);
}

ion-textarea {
  border: 1px solid var(--ion-color-primary);
  border-radius: 7px;
  margin-top: 5px;
  --padding-start: var(--app-input-padding);
  --padding-end: var(--app-input-padding);
}

.div-form-control {
  margin-bottom: 15px;
}

.div-time-spent {
  & > div {
    margin-bottom: 15px;
  }

  & ion-input {
    display: inline-block;
    margin-left: var(--app-form-control-margin);
    width: 70px;
  }
}

.carry-forward > * {
  vertical-align: middle;
}

input[type="checkbox"] {
  height: 15px;
  width: 15px;
}

ion-radio-group > * {
  vertical-align: middle;
}

ion-radio {
  border: 1px solid var(--ion-color-primary);
  border-radius: 50px;
  height: 20px;
  width: 20px;
  margin: 0 var(--app-form-control-margin);
}

.div-single-category {
  margin-top: var(--app-form-control-margin);
}
