<ion-header>
  <button (click)="onClose()">
    <ion-icon color="#fff" name="close"></ion-icon>
  </button>
  <h2>
    Add CE
  </h2>
</ion-header>

<ion-content>
  <ion-card>
  </ion-card>
  <ion-card>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <div>
        <ion-label>Date of CE*:</ion-label>
        <ion-input
          formControlName="ceDate">
        </ion-input>
      </div>
      <div>
        <ion-label>Program Title*:</ion-label>
        <ion-input
          formControlName="programTitle">
        </ion-input>
      </div>
      <div>
        <ion-label>Event Name:</ion-label>
        <ion-input
          formControlName="eventName">
        </ion-input>
      </div>
      <div>
        <ion-label>Description:</ion-label>
        <ion-textarea
          rows="3"
          formControlName="description">
        </ion-textarea>
      </div>
      <div class="div-time-spent">
        <div>
          <ion-label>Time Spent (in {{ parentAmount.unitPlural }})*:</ion-label>
          <ion-input
            type="number"
            formControlName="timeSpentParent"
            (ionBlur)="onAmountEdit($event)">
          </ion-input>
        </div>
        <div>
          <ion-label>Time Spent (in {{ childAmount.unitPlural }}):</ion-label>
          <ion-input
            type="number"
            formControlName="timeSpentChild">
          </ion-input>
        </div>
      </div>
    </form>
  </ion-card>

</ion-content>
