ion-content {
  --background: var(--ion-color-primary);
}

ion-card-title {
  margin-top: 13px;
  text-align: center;
}

.ce-track-bar {
  background-color: lightblue;
  border-radius: 3px;
  height: 10px;
  text-align: right;
}

.ce-trackbar-bkgd {
  background-color: lightgray;
}

.div-compliant-message {
  font-size: 15px;

  ion-icon {
    vertical-align: middle;
  }
}
