ion-card-title {
  margin-top: 13px;
  text-align: center;
}

ion-card {
  --color: var(--app-card-color);
  margin: auto;
  margin-bottom: var(--app-card-margin-bottom);
  margin-top: var(--app-card-margin-top);
  width: var(--app-card-width);
}

.ce-track-bar {
  background-color: lightblue;
  border-radius: 3px;
  height: 10px;
  text-align: right;
}

.ce-trackbar-bkgd {
  background-color: lightgray;
}

.div-compliant-message {
  font-size: 15px;

  ion-icon {
    vertical-align: middle;
  }
}
