<ion-card>
  <ion-card-title>CE Summary {{ year() }}</ion-card-title>
  <ion-card-content>
    <div>
      <ion-select label="Select Year:" placeholder="year" (ionChange)="emitYearChanged($event)">
        @for (yearOption of allYears; track yearOption) {
          <ion-select-option [value]="yearOption">
            {{ yearOption }}
          </ion-select-option>
        }
      </ion-select>
    </div>
    <div class="centered-error-message">{{ errorMessage() }}</div>

    <div>

    </div>
    <div class="progress-container">
      @for (catGroup of ceData().categoryGroups; track $index) {
        <div>{{catGroup.title}}</div>
        <ion-grid>
          <ion-row>
            @for (category of catGroup.categories; track category.categoryId; let idx = $index) {
              <ion-col size="6" sizeMd="4">
                <progress-indicator
                [maxProgress]="category.maximum"
                [minProgress]="category.minimum"
                [completed]="category.amountCompleted"
                [title]="category.displayName"
                ></progress-indicator>
              </ion-col>
            }
          </ion-row>
        </ion-grid>
      }
    </div>
    <div class="ion-text-right div-compliant-message">
      {{ ceData().complianceStatus }}
      <ion-icon name="checkmark-circle" color="green"></ion-icon>
    </div>
  </ion-card-content>
</ion-card>
