ion-card-title {
  margin-top: 13px;
  text-align: center;
}

.ce-track-bar {
  background-color: lightblue;
  border-radius: 3px;
  height: 10px;
  text-align: right;
}

.ce-trackbar-bkgd {
  background-color: lightgray;
}

.div-compliant-message {
  font-size: 15px;

  ion-icon {
    vertical-align: middle;
  }
}

.progress-row {
  
  div {
    display: inline-block;
    height: 10px;
  }

  @keyframes requiredAnimation {
    from {width: 0px;}
    to {width: 30px;}
  }

  .required {
    background-color: green;
    width: 30px;
  }
  
  .required-animation {
    animation-name: requiredAnimation;
    animation-duration: 1s;
  }

  .extra-end {
    background-color: pink;
    width: 30px;
  }

  .extra-start {
    background-color: pink;
    width: 0px;
  }
  
  .extra-animation {
    animation-name: requiredAnimation;
    animation-duration: 1s;
    animation-delay: 1s;
  }

}
