<ion-card>
  <ion-card-title>CE Summary {{ year }}</ion-card-title>
  <ion-card-content>
    <div>
      <ion-select label="Select Year:" placeholder="year" (ionChange)="emitYearChanged($event)">
        <ion-select-option *ngFor="let yearOption of allYears" [value]="yearOption">
          {{ yearOption }}
        </ion-select-option>
      </ion-select>
    </div>
    <div class="centered-error-message">{{ errorMessage }}</div>

    <div>

    </div>
    <div class="progress-row">
      <div class="required"></div><div class="extra"></div>
    </div>
    <div class="ion-text-right div-compliant-message">
      {{ ceData.complianceStatus }}
      <ion-icon name="checkmark-circle" color="green"></ion-icon>
    </div>
  </ion-card-content>
</ion-card>
