<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeSm="6" offsetSm="3" class="ion-text-center">
        <div class="icon-container">
          <span class="title-line-1">CAS CE</span> <br />
          <span class="title-line-2">TRACKER</span>
        </div>
      </ion-col>
    </ion-row>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="ion-text-center">
      <ion-row>
        <ion-col size="10" offset="1">
          <div>
            <label for="email">Email</label>
            <input [(ngModel)]="email" required #emailCtrl="ngModel" id="email" name="email" type="email" />
          </div>
          @if (!emailCtrl.valid && emailCtrl.touched) {
            <div class="error">
              <label>Please enter a valid email address</label>
            </div>
          }
          <div>
            <label for="password">Password</label>
            <input [(ngModel)]="password" required id="password" name="password" type="password" minlength="6" #passwordCtrl="ngModel" />
          </div>
          @if (!passwordCtrl.valid && passwordCtrl.touched) {
            <div class="error">
              <label>Please enter a valid password</label>
            </div>
          }
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <p class="ion-text-center error">
            {{errMessage()}}
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <button type="submit" class="app-button submit-button" [disabled]="!f.valid">
            Log in
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <button type="button" class="app-button register-button" [disabled]="!f.valid">
            Register
          </button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>

