<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeSm="6" offsetSm="3" class="ion-text-center">
        <img src="/assets/study-icon.jpg" />
      </ion-col>
    </ion-row>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <ion-row>
        <ion-col sizeSm="8" offsetSm="2">
          <ion-list>
            <ion-item lines="none">
              <ion-label position="floating">Email</ion-label>
              <ion-input [(ngModel)]="email" required #emailCtrl="ngModel" name="email" type="email"></ion-input>
            </ion-item>
            @if (!emailCtrl.valid && emailCtrl.touched) {
              <ion-item lines="none">
                <ion-label>Please enter a valid email address</ion-label>
              </ion-item>
            }
            <ion-item lines="none">
              <ion-label position="floating">Password</ion-label>
              <ion-input [(ngModel)]="password" required name="password" type="password" minlength="6" #passwordCtrl="ngModel">
              </ion-input>
            </ion-item>
            @if (!passwordCtrl.valid && passwordCtrl.touched) {
              <ion-item lines="none">
                <ion-label>Please enter a valid password</ion-label>
              </ion-item>
            }
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-button type="submit" expand="block" class="ion-padding" [disabled]="!f.valid">
            Log in
          </ion-button>
        </ion-col>
      </ion-row>
      @if (errMessage) {
        <ion-row>
          <ion-col sizeSm="6" offsetSm="3">
            <p class="ion-text-center">
              {{errMessage}}
            </p>
          </ion-col>
        </ion-row>
      }
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <p class="ion-text-center cas-signup-link">
            Don't have an account? Click here to sign up.
          </p>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
