

.error {
  color: var(--ion-color-danger-shade);
}



img {
    height: 100px;
    top: 50%;
    left: 5px;
    position: relative;
    transform: translate(0, -50%);
}

.cas-signup-link {
  font-size: 11pt;
}
