.loader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  text-align: center;
  background: rgba(0,0,0,0.1);
}

@keyframes loading-animation {
  0% {top: 0; background-color: var(--ion-color-primary);}
  20% {top: -15px; background-color: var(--ion-color-secondary);}
  40% {top: 15px; background-color: var(--ion-color-tertiary)}
  60% {top: 0px; background-color: var(--ion-color-primary)}
}

.loading-dots {
  display: flex;
  justify-content: center;
  position: relative;
  top: 40%;
  transform: translateY(-50%);

  & div {
    height: 40px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--ion-color-primary);
    position: relative;
    animation-name: loading-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: inline-block;
  }

  & .dot-one {
    margin-right: 10px;
  }

  & .dot-two {
    animation-delay: 0.5s;
    margin-right: 10px;
  }

  & .dot-three {
    animation-delay: 1s;
  }
}