<ion-content>
  <div class="overview-options">
    <ion-select class="overview-select-year" label="Current Year" placeholder="{{selectedYear}}" (ionChange)="updateYear($event)">
      @for (yearOption of allYears; track yearOption) {
        <ion-select-option [value]="yearOption">
          {{ yearOption }}
        </ion-select-option>
      }
    </ion-select>
      <div class="overview-single-standard">
        <span>CE Standard</span>
        <span>{{displayedCeData.title}}</span>
      </div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col sizeSm="8" offsetSm="2">
        @if (showError) {
          <div>
            There was a problem fetching CE Data <br />
            Please try again later
          </div>
        }
        @else {
          <app-compliance-graphic
            [ceData]="ceData"
          ></app-compliance-graphic>
        }
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
