.card-overview-buttons {
  padding: 10px;
  text-align: center;
}

ion-card {
  --color: var(--app-card-color);
  margin: auto;
  margin-bottom: var(--app-card-margin-bottom);
  margin-top: var(--app-card-margin-top);
  width: var(--app-card-width);
}
