<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1" color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>Overview</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeSm="8" offsetSm="2">
        <app-compliance-graphic
          [ceData]="ceData"
          [errorMessage]="errorMessage"
          [year]="selectedYear"
          (yearChanged)="updateYear($event)"
        ></app-compliance-graphic>
        <ion-card class="card-overview-buttons">
          <ion-button expand="full" shape="round" (click)="onAddCE()">
            Add CE
            <ion-icon name="add" slot="end"></ion-icon>
          </ion-button>
          <ion-button
            expand="full"
            shape="round"
            [routerLink]="['/', 'overview', 'view-experience']"
            [queryParams]="{ selectedYear }"
          >
            View CE
            <ion-icon name="search" slot="end"></ion-icon>
          </ion-button>
          <ion-button expand="full" shape="round">
            Export CE
            <ion-icon name="open" slot="end"></ion-icon>
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
