.overview-options {
  background-color: white;
  padding: 7px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  font-size: 1.3em;
  color: var(--ion-color-primary);
}

.overview-select-year {
  border-bottom: 1px solid var(--ion-color-secondary);
}

.overview-single-standard {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.overview-select-standard{
  border: 3px solid var(--ion-color-secondary);
  background-color: rgba(var(--ion-color-secondary-rgb), 0.1);
  color: black;
}

ion-content {
  --background: var(--ion-color-primary);
}
