<ion-app>
  <ion-menu contentId="main" menuId="m1" type="reveal">
    <ion-header>
      <ion-title>
        @if (user) {
          <p>{{user.firstName}} {{user.lastName}}</p>
        }
      </ion-title>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item button lines="none" routerLink="/edit-profile">
            <ion-icon slot="start" name="create" color="primary"></ion-icon>
            Edit Profile
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item button lines="none">
            <ion-icon slot="start" name="chatbubbles" color="primary"></ion-icon>
            Feedback
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item button lines="none">
            <ion-icon slot="start" name="information-circle" color="primary"></ion-icon>
            About
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item (click)="onLogout()" button lines="none">
            <ion-icon slot="start" name="exit" color="primary"></ion-icon>
            Log Out
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <app-alert></app-alert>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
