/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "theme/variables.scss";

ion-input {
  border: 1px solid var(--ion-color-primary);
  border-radius: 50px;
  margin-top: 5px;
  --padding-start: var(--app-input-padding);
  --padding-end: var(--app-input-padding);
}

ion-card {
  --color: var(--app-card-color);
  font-size: var(--app-card-font-size);
  margin-bottom: var(--app-card-margin-bottom);
  margin-top: var(--app-card-margin-top);
  padding: 20px;
  border-radius: 15px;
}

ion-content {
  --background: white;
}

.div-form-control {
  margin-bottom: 15px;
}

.input-error {
  background-color: var(--app-error-background-color);
  border: 2px solid var(--app-error-color);
}

.error-message {
  color: var(--app-error-color);
  margin-top: 5px;
}

.centered-error-message {
  text-align: center;
  color: var(--app-error-color);
}

.right-align {
  text-align: right;
}

.app-button {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: block;
  width: 90%;
  padding: 15px;
  font-variant: all-small-caps;
  font-size: 14pt;
  border-radius: 5px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  border: 2px solid var(--ion-color-primary);
}

.solid-button {
  background-color: var(--ion-color-primary);
  color: white;
}

.outline-button {
  color: var(--ion-color-primary);
  background-color: white;
}

form div {
  margin-bottom: 20px;
}

form label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-size: 14pt;
}

form input {
  width: 100%;
  padding: 15px 5px;
  border-radius: 5px;
}

.logo-container {
    background-color: white;
    margin-top: 20%;
    margin-bottom: 30px;
    display: inline-block;
    width: 130px;
    text-align: justify;
    font-weight: bold;
    color: var(--ion-color-primary);
}
  
.logo-line-1 {
    font-size: 25pt;
}

.logo-line-2 {
    font-size: 19pt;
}

.form-error {
  color: var(--ion-color-danger-shade);
}
