ion-card {
  --color: var(--app-card-color);
  margin-bottom: var(--app-card-margin-bottom);
  margin-top: var(--app-card-margin-top);
}

ion-card-title {
  font-size: 1.5em;
  margin-top: 16px;
}

button {
  background-color: transparent;
  position: absolute;
  top: 5px;
  right: 3px;
}

ion-icon {
  font-size: 18pt;
}

ion-row {
  margin-bottom: 20px;
}

.left-col {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-right: 2px solid var(--ion-color-secondary);
}

.left-col > p {
  margin: 0px;
}

.right-col {
  padding-left: 20px;
}
