<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>View CE - {{ year }}</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeSm="8" offsetSm="2">
        @if (loadingError) {
          <app-error [errorText]="loadingError"></app-error>
        }
        @else {
        @for (ex of experiences; track ex.experienceId) {
          <ion-card>
            <button (click)="onEditCE(ex)">
              <ion-icon color="primary" name="create"></ion-icon>
            </button>
            <ion-card-title>
              {{ ex.programTitle }}
            </ion-card-title>
            @if (ex.eventName && ex.eventName.length > 0) {
              <h2>{{ ex.eventName }}</h2>
            }
            <ion-grid>
              @if (ex.description && ex.description.length > 0) {
                <ion-row>
                  <ion-col>
                    {{ ex.description | shortenText }}
                  </ion-col>
                </ion-row>
              }
              <ion-row>
                <ion-col size="6">
                  @for (am of ex.amounts; track am.experienceAmountId) {
                    <p> {{ am.amount }} {{ am.amount === 1 ? am.unitSingular : am.unitPlural }}</p>
                  }
                </ion-col>
                <ion-col size="6">
                  <ion-label>Location: </ion-label>
                  {{ ex.location.name }}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">
                  <p>
                    CE Date
                  </p>
                  <p>
                    {{ ex.startDate | date:'shortDate' }}
                  </p>
                </ion-col>
                <ion-col size="6">
                  <p>Categories: </p>
                  <p>
                    @for (cat of ex.categories; track cat.categoryId) {
                      {{ cat.displayName }} <br />
                    }
                  </p>
                </ion-col>
              </ion-row>
              @if (ex.notes && ex.notes.length > 0) {
                <ion-row>
                  <ion-col>
                    {{ ex.notes | shortenText }}
                  </ion-col>
                </ion-row>
              }
            </ion-grid>
          </ion-card>
        }
      }
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
