ion-card {
  --color: var(--app-card-color);
  margin-bottom: var(--app-card-margin-bottom);
  margin-top: var(--app-card-margin-top);
}

ion-card-title {
  font-size: 1.5em;
  margin: 20px 0;
}

button {
  background-color: transparent;
  position: absolute;
  top: 5px;
  right: 3px;
}

ion-icon {
  font-size: 18pt;
}

ion-row {
  margin-bottom: 20px;
}

ul {
  padding-inline-start: 15px;
}

.left-col {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-right: 3px solid var(--ion-color-secondary);
  padding-right: 15px;
}

.left-col > p {
  margin: 0px;
}

.right-col {
  padding-left: 15px;

  & > span:first-child {
    background: var(--ion-color-primary);
    color: white;
    padding: 3px 9px;
    border-radius: 3px;
    letter-spacing: 1pt;
    font-weight: 700;
  }
}
